@use './abstracts/' as *;

.hero--section {
  width: 85%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;


  .hero-title {
    color: $primary-white;
    font-family: $title-ff;
    font-size: 5vmin;
    line-height: 6rem;
    z-index: 2;

    .title-lighter {
      font-weight: 300;
    }

    .title--accent {
      font-size: 11vmin;
      font-weight: 600;
      padding-left: 10%;
    }

    .title-lighter-sub {
      font-size: 11vmin;
    }

    .title--accent-sub {
      font-size: 12vmin;
      padding-left: 25%;
    }
  }

  .hero--deco {
    display: flex;
    gap: 5vmin;
    justify-content: center;
    z-index: 1;

    .deco-left {
      width: 19vmin;
      height: 70vmin;
      margin-top: 3rem;
      background-image: url('../assets/hero-backg-left.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .deco-right {
      position: relative;
      width: 50vmin;
      height: auto;
      margin-top: -23px;
      background-image: url('../assets/hero-backg-right.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .hero-star {
    position: absolute;
    right: -40px;
    top: 10rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 968px) {
  .hero--section {
    display: flex;
    flex-direction: column;
  }
  
  .hero-title * {
    line-height: 3rem;
  }
}