@use './abstracts' as *;

.header {
  position: relative;
  width: 90%;
  padding: 1rem 0;
  overflow-x: hidden;
  top: 0%;
  right: 0%;
  bottom: auto;
  left: 0%;
  z-index: 2;
  display: grid;
  grid-template-columns: 15% 60% 25%;
}

.pageNav {
  position: relative;
}

.nav--content {
  padding-bottom: 50px;
}

.logo--container {
  text-align: left;
}

.menu--mobile {
  display: none;
}

.navMenu--container {
  padding: 0 3rem;
}

.navMenu--container ul {
  font-size: 16px;
  list-style: none;
  text-align: left;
}

.nav--link {
  margin-bottom: 18px;
  padding-left: 18px;
  background-image: url('../assets/decoration-nav.svg');
  background-repeat: no-repeat;
  background-size: 0;
  background-position: 6px 50%;
}

.last {
  margin-bottom: 0;
}

.nav--link:hover {
  background-size: 12px;
  background-position: 0 50%;
}

.deco-current {
  background-size: 12px;
  background-position: 0 50%;
}

.contact--container {
  font-size: 16px;
  justify-self: end;
}

.contact--container p {
  padding-left: 15px;
}

.bttn-nav {
  border: none;
  margin: 0;
  padding-left: 18px;
  font-size: 16px;
}

.chatBtn {
  margin: 0;
  padding: 0;
  font-size: 18px;
  margin-left: 5rem;
  border: none;
  text-align: left;
  font-family: 'Biryani', sans-serif;
  font-weight: 900;
}

.chatBtn a:hover {
  color: $hover-color;
}

.lines {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-image: url('../assets/decoration-nav.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav--border {
  right: 30%;
}

.border-lines {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 1px;
  height: 1px;
  background-color: $primary-white;
}

.nav--border-1 {
  height: 200px;
}

.nav--border-2 {
  width: 800px;
}

.nav--border-3 {
  width: 400px;
  left: 20px;
  right: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .logo--container {
    width: 50vw;
    position: absolute;
    margin: 2rem 0;
  }

  .navMenu--container,
  .contact--container {
    display: none;
  }

  .pageNav {
    width: 100vmin;
  }

  .menu--mobile {
    position: absolute;
    display: inline;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 10px;
    left: auto;
    bottom: auto;
    color: $primary-white;
  }
}
