@use './abstracts/' as *;

.hide {
  display: none;
}

.projects--nav {
  display: flex;
  justify-content: center;
  margin: 1rem;

  button {
    margin: 1rem 2rem;
    background-color: transparent;
    border: none;

    svg {
      width: 2rem;
      height: 2rem;
      color: $primary-white;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 968px) {
  .projects--nav {
    grid-row-start: 3;
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: 1rem;
  }
}
